* {
  margin: 0px;
  padding: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: sans-serif;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  justify-content: space-around;
}
a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: rgb(110, 110, 110);
}

.side-bar a {
  font-size: 1.7em;
  padding: 7px 20px;
  font-weight: 530;
}

.side-bar {
  width: 18%;
  padding: 2em 0;
  background-color: rgb(230, 230, 230);
  height: 100vh;
  overflow: hidden;
}

.pokemon-cards {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  margin: 10px 20px;
  gap: 15px;
}

.card {
  border: 1.5px solid #ccc;
  width: 300px;
  height: 45vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: auto;
  padding: 10px 10px 0 10px;
  background-color: whitesmoke;
  margin: 10px;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

.type {
  text-align: center;
  display: flex;
  justify-content: space-between;
  justify-content: baseline;
  align-items: center;
  margin-top: 10px;
}

.type p {
  color: white;
  padding: 3px 5px;
  margin: 5px;
  border-radius: 4px;
}

.info {
  height: 50%;
  width: 100%;
  color: rgb(110, 110, 110);
}

img {
  width: 100%;
  height: 50%;
  object-fit: contain;
  background-color: rgb(230, 230, 230);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 0 0;
}

th {
  width: 80%;
  text-align: left;
}
td {
  width: 20%;
  text-align: right;
}

td, th {
  font-size: 1em;
  padding: 4px;
  color: rgb(110, 110, 110);
}
table :last-child {
  border-bottom: none;
}

tr {
  border-bottom: 1px solid #d1d0d0;
}
